<!DOCTYPE html>
<html lang="en">
<body>
{{#username}}
<form action="/addmessage" method="post">
    <input type="text" placeholder="enter a message" name="message">
    <button type="submit">post</button>
</form>
Messages from {{username}}
<ol>
    {{#messages}}
    <li>{{message}}<button type="submit">Delete</button> </li>
    {{/messages}}
</ol>
{{/username}}

{{^username}}
<form action="/login" method="post">
    <input type="text" placeholder="enter your name" name="userName"/>
    <button type="submit">login</button>
</form>
{{/username}}
</body>
</html>